<nav class="bg-slate-200 p-4 flex justify-between sticky bottom-0 h-20 items-center z-10 font-bold">
  <div>
    ダテグルメ
  </div>
  <div class="flex space-x-2 items-center">
    <div>
      利用規約
    </div>
    <div>
      プライバシーポリシー
    </div>
    <div>
      お問い合わせ
    </div>
  </div>
</nav>